

.container__cartao {
    background-image: url("../img/bg-main-mobile.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 220px;
}

.card-1 {
    background-image: url("../img/bg-card-back.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 270px;
    height: 148px;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: center;
    top: 2em;
    left: 6.5em;
}

.cvc_cartao {
    padding-right: 3.5em;
    color: var(--white);
    font-size: 10px;
}

.card-2 {
    background-image: url("../img/bg-card-front.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 270px;
    height: 148px;
    position: relative;
    top: 7.25em;
    left: 1.6em;
}

.card__logo {
    width: 20%;
    padding: 1em 0 0 1em;
}

.conteudo-meio__cartao {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
}

.conteudo-final__cartao {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 1.5em;
    align-items: flex-end;
    gap: 2em;
}

.numero__cartao {
    color: var(--white);
    font-size: 14px;
    letter-spacing: 3px;
}

.nome__cliente {
    color: var(--light-grayish-violet);
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;

}

.validade__cartao {
    color: var(--light-grayish-violet);
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
}

.input__container {
    display: flex;
    flex-direction: column;
    padding: 6em 2em 3em 2em;
}

.dados__cartao,
.dados__finais {
    color: var(--very-dark-violet);
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1.5px;
    padding: 1em 0 0.5em 0;
    text-align: left;
    font-weight: bold;
}

.dados__input {
    width: 320px;
    height: 30px;
    border-color: var(--light-grayish-violet);
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
}

.dados__finais-container {
    display: grid;
    grid-template-columns: 74px 70px 166px;
    padding-bottom: 2em;
    align-items: center;
    column-gap: 8px;
}

.dados-finais__input {
   
    height: 30px;
    border-color: var(--light-grayish-violet);
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
}

.cvc {
    width: 160px;
}

.btn-confirm {
    width: 326px;
    height: 50px;
    background-color: var(--very-dark-violet);
    color: var(--white);
    font-size: 17px;
    font-weight: bold;
    border-style: none;
    border-radius: 5px;
    letter-spacing: 1px;
}

input:focus {
    outline: none;
    border-color: var(--active-border);
    
    
}

::placeholder{
    padding-left: 1em;
    color: var(--dark-grayish-violet);
    font-weight: 300;
    font-size: 14px;
    font-family: var(--principalfont);
}

.thx__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 326px;
    height: 425.5px;
    padding: 6em 2em 3em 2em;
    /*
    position: absolute;
    top:10em;
    
    */
}

.thx__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}