
@import url("main.css");
@import url("desktop.css");


body {
    font-family: var(--principalfont);
}

:root {

    /* Colors */

    --active-border:#6448fe; 
    --input-error: #ff5252;
    --white: #ffffff;
    --light-grayish-violet: #dedddf;
    --dark-grayish-violet: #bbb4be;
    --dark-grayish: #8d878f;
    --very-dark-violet: #21092f;

    /* Font */

    --principalfont: "Space Grotesk";
}